* {
  margin: 0;
  padding: 0;
}
#header-img-1 {
  width: 150px;
  height: 95px;
  position: absolute;
  left: 1%;
}
#header-img-2 {
  width: 150px;
  height: 95px;
  position: absolute;
  right: 1%;
}
#header {
  height: 12vh;
  position: relative;
  width: 100vw;
  background-color: #640d5f;
  font-family: "Jaro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 2em;
  letter-spacing: 4px;
  color: white;
  word-spacing: 8px;
}
#header h1 {
  position: absolute;
  left: 33%;
}
#choose {
  width: 100vw;
  height: 16vh;
  background-color: #d91656;
  position: relative;
}
#button-section {
  position: absolute;
  top: 7%;
  left: 32%;
}
#choose a {
  position: absolute;
  text-decoration: none;
  right: 3%;
  top: 35%;
  font-family: "Jaro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 32px;
  letter-spacing: 2px;
  transition: transform 0.5s ease;
}
#choose a:hover {
  transform: scale(1.05);
}
#choose a:active {
  color: bisque;
}
.img-btn {
  width: 90px;
  height: 100px;
  border-radius: 120px;
}
.btn-img {
  width: 90px;
  height: 100px;
  border-radius: 120px;
  margin-left: 60px;
  transition: transform 0.2s ease;
}
.btn-img:hover {
  background-color: bisque;
  transform: scale(1.05);
}
.btn-img:active {
  background-color: rgba(0, 0, 0, 90%);
}
#play-ground {
  width: 100vw;
  height: 67vh;
  background-color: #eb5b00;
  position: relative;
}
#vs {
  width: 210px;
  position: absolute;
  height: 160px;
  left: 43%;
  top: 40%;
}
#footer {
  height: 5vh;
  width: 100vw;
  background-color: #ffb200;
}
